<div class="card mt-4">
    <div class="card-header">Pridėti naują paskaitą</div>
    <div class="card-body">
        <form action="" [formGroup]="lectureForm" (ngSubmit)="submitLecture()">
            <div class="mb-3">
                <label for="" class="form-label">Pasirinkite kursą</label>
                <select class="form-select" formControlName="course" (change)="selectCourse(lectureForm.value.course)">
                    <option *ngFor="let course of courses" value="{{ course.id }}">{{ course.name }}</option>
                </select>

            </div>
            <div class="mb-3">
                <label for="" class="form-label">Pasirinkite grupę</label>
                <select class="form-select" formControlName="group">
                    <option *ngFor="let group of groups" value="{{ group.id }}">{{ group.name }}</option>
                </select>

            </div>
            <div class="mb-3">
                <label for="" class="form-label">Paskaitos pavadinimas</label>
                <input type="text" class="form-control" formControlName="name">

            </div>
            <div class="mb-3">
                <label for="" class="form-label">Data</label>
                <input type="date" class="form-control" name="" formControlName="date">

            </div>
            <div class="mb-3">
                <label for="" class="form-label">Paskaitos aprašymas</label>
                <textarea class="form-control" name="" formControlName="description"></textarea>

            </div>

            <div class="mb-3 ">
                <button class="btn btn-info mb-3" type="button" (click)="filePicker.click()">Įkelti failą ar failus</button>
                <input type="file" name="lectureFile" class="d-none" #filePicker (change)="onFileSelected($event)">

                <div class="mb-3">
                    <div class="d-flex" *ngFor=" let file of fileArray, let i = index;">
                        <p>{{ file.name }}</p>
                        <button *ngIf="fileArray.length != 0" class="btn btn-sm btn-danger" (click)="dropFile(i)">Pašalinti</button>
                    </div>
                </div>

            </div>

            <button type="submit" class="btn btn-primary">Pridėti</button>
        </form>
        <app-success [onSuccess]="onSuccess" [successText]="successText"></app-success>
    </div>
</div>