<div class="card mt-4 border-0">
    <div class="px-3">
        <a class="btn btn-sm btn-outline-secondary mb-2" style="display: block;" routerLink="/courses/add">Pridėti naują kursą</a>
        <a class="btn btn-sm btn-outline-secondary mb-2" style="display: block;" routerLink="/groups/add">Pridėti naują grupę</a>
        <a class="btn btn-sm btn-outline-secondary mb-2" style="display: block;" routerLink="/lectures/add">Pridėti naują paskaitą</a>
        <a class="btn btn-sm btn-outline-secondary mb-2" style="display: block;" routerLink="/file/add">Pridėti naują failą</a>
        <a class="btn btn-sm btn-outline-secondary mb-2" style="display: block;" routerLink="/students/add">Pridėti naują studentą</a>
    </div>
</div>