<div class="row mt-3">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="d-flex justify-content-center">
                <a class="btn btn-outline-primary mx-3 mt-3" routerLink="/">Prisijungimas</a>
                <a class="btn btn-primary mx-3 mt-3" routerLink="/signup">Registracija</a>
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSignUp(f)" #f="ngForm">
                    <div class="mb-3">
                        <label for="" class="form-label">Vartotojo tipas*</label>
                        <div>
                            <label for="lecturer" class="form-check-label">Dėstytojas</label>
                            <input type="radio" class="form-check-input" id="lecturer" name="type" value="1" ngModel #inputType="ngModel" required (click)="selectType()">
                        </div>
                        <div>
                            <label for="student" class="form-check-label">Studentas</label>
                            <input type="radio" class="form-check-input" id="student" name="type" value="2" ngModel #inputType="ngModel" required (click)="selectType()">
                        </div>
                        <div class=" helper-block small text-danger" *ngIf="!typeSelected">
                            Vartotojo tipas yra privalomas.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Vardas*</label>
                        <input type="text" name="name" class="form-control" ngModel pattern="^[A-Za-zĄČĘĖĮŠŲŪŽąčęėįšųūž\- ]{3,45}$" required #inputName="ngModel" [class.is-invalid]="!inputName.valid && inputName.touched">
                        <div class="helper-block small text-danger" *ngIf="!inputName.valid && inputName.touched">
                            Vardas turi būti 3-45 simbolių. Galima naudoti tik raides, tarpą ir brūkšnelį.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Pavardė*</label>
                        <input type="text" name="surname" class="form-control" ngModel pattern="^[A-Za-zĄČĘĖĮŠŲŪŽąčęėįšųūž\- ]{3,45}$" required #inputSurname="ngModel" [class.is-invalid]="!inputSurname.valid && inputSurname.touched">
                        <div class="helper-block small text-danger" *ngIf="!inputSurname.valid && inputSurname.touched">
                            Pavardė turi būti 3-45 simbolių. Galima naudoti tik raides, tarpą ir brūkšnelį.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Telefono numeris</label>
                        <input type="text" class="form-control" name="phone" value="" ngModel maxlength="12" #inputPhone="ngModel" [class.is-invalid]="!inputPhone.valid && inputPhone.touched">
                        <div class="helper-block small text-danger" *ngIf="!inputPhone.valid && inputPhone.touched">
                            Telefonas negali būti ilgesnis nei 12 simbolių.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">El.pašto adresas*</label>
                        <input type="email" class="form-control" name="email" value="" ngModel required email #inputEmail="ngModel" [class.is-invalid]="!inputEmail.valid && inputEmail.touched">
                        <div class="helper-block small text-danger" *ngIf="!inputEmail.valid && inputEmail.touched">
                            El.pašto adresas yra privalomas.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label">Slaptažodis*</label>
                        <input type="password" name="password" class="form-control" ngModel required minlength="8" #inputPassword="ngModel" [class.is-invalid]="!inputPassword.valid && inputPassword.touched" (input)="matchPasswords(inputPassword.value, inputPasswordRepeat.value)">
                        <div class="helper-block small text-danger" *ngIf="!inputPassword.valid && inputPassword.touched">
                            Slaptažodis turi būti ne trumpesnis nei 8 simboliai.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Pakartokite slaptažodį*</label>
                        <input type="password" name="passwordRepeat" class="form-control" ngModel #inputPasswordRepeat="ngModel" (input)="matchPasswords(inputPassword.value, inputPasswordRepeat.value)">
                        <div class="helper-block small text-danger" *ngIf="!passwordsMatch && inputPassword.value !=''">
                            Slaptažodžiai nesutampa.
                        </div>
                    </div>

                    <button class="btn btn-primary" [disabled]="!f.valid || !passwordsMatch || !inputPasswordRepeat.value">Registruotis</button>
                </form>
                <app-signup-success [onSignUpSuccess]="onSignUpSuccess"></app-signup-success>
            </div>
        </div>
    </div>
</div>